{% extends 'mains.html' %}

{% load static %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center 
             bg-[url('{% static 'images/blue.jpg' %}')] 
             bg-cover bg-center bg-no-repeat">

  <!-- Heading -->
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-[#18b49a70] mb-6 sm:mb-10 drop-shadow-lg text-center">
    WelCome To
  </h2>
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-[#18b49a70] mb-6 sm:mb-10 drop-shadow-lg text-center">
    Hero Fashion
  </h2>

</div>
{% endblock content %}


